<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_gkJogJgIEeetSZerYCfsvw" specification="interface Display:&#xA;var isSleeping:boolean&#xA;var displayText:string&#xA;&#xA;interface:&#xA;in event ButtonPressed&#xA;in event Failure" name="datalogger">
    <regions xmi:id="_gkLdsJgIEeetSZerYCfsvw" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_GPy64Jl8Eeemg_CFLz1lXA" name="Logger" incomingTransitions="_4bwpoJmDEeemg_CFLz1lXA">
        <regions xmi:id="_GP0JAJl8Eeemg_CFLz1lXA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_DAoQMJl8Eeemg_CFLz1lXA" specification="" name="Active">
            <outgoingTransitions xmi:id="_3CHBAJmBEeemg_CFLz1lXA" specification="Failure" target="_n7TZ8JmBEeemg_CFLz1lXA"/>
            <regions xmi:id="_DApeUJl8Eeemg_CFLz1lXA" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_DCAMYJmAEeemg_CFLz1lXA" specification="" name="MQTT Connecting" incomingTransitions="_r36O4JmAEeemg_CFLz1lXA _4L8zYJmAEeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_x6FMsJmAEeemg_CFLz1lXA" specification="always" target="_EvELIJmAEeemg_CFLz1lXA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_EvELIJmAEeemg_CFLz1lXA" name="Collecting Data" incomingTransitions="_x6FMsJmAEeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_zfXvgJmAEeemg_CFLz1lXA" specification="always" target="_JUL8IJmAEeemg_CFLz1lXA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_JUL8IJmAEeemg_CFLz1lXA" name="Publishing Data" incomingTransitions="_zfXvgJmAEeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_3UniwJmAEeemg_CFLz1lXA" specification="always" target="_2BV9AJmAEeemg_CFLz1lXA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_2BV9AJmAEeemg_CFLz1lXA" specification="" name="Wait" incomingTransitions="_3UniwJmAEeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_4L8zYJmAEeemg_CFLz1lXA" specification="after 30 s" target="_DCAMYJmAEeemg_CFLz1lXA"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_coSm4Jl8Eeemg_CFLz1lXA">
            <outgoingTransitions xmi:id="_r36O4JmAEeemg_CFLz1lXA" specification="" target="_DCAMYJmAEeemg_CFLz1lXA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_n7TZ8JmBEeemg_CFLz1lXA" name="Error" incomingTransitions="_3CHBAJmBEeemg_CFLz1lXA"/>
        </regions>
        <regions xmi:id="_GP0JAZl8Eeemg_CFLz1lXA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_FWkXYJl9Eeemg_CFLz1lXA" name="Display Sleepmode">
            <regions xmi:id="_FWkXY5l9Eeemg_CFLz1lXA" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_WQL_4Jl9Eeemg_CFLz1lXA" name="Active" incomingTransitions="_ONAhsJl_Eeemg_CFLz1lXA _RBuFAJl_Eeemg_CFLz1lXA _voRXkJl_Eeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_Fj6k8Jl_Eeemg_CFLz1lXA" specification="after 120 s" target="_XZ5Z8Jl9Eeemg_CFLz1lXA"/>
                <outgoingTransitions xmi:id="_RBuFAJl_Eeemg_CFLz1lXA" specification="ButtonPressed" target="_WQL_4Jl9Eeemg_CFLz1lXA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_XZ5Z8Jl9Eeemg_CFLz1lXA" specification="" name="Sleeping" incomingTransitions="_Fj6k8Jl_Eeemg_CFLz1lXA">
                <outgoingTransitions xmi:id="_ONAhsJl_Eeemg_CFLz1lXA" specification="ButtonPressed" target="_WQL_4Jl9Eeemg_CFLz1lXA"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_rrc8sJl_Eeemg_CFLz1lXA" incomingTransitions="_R4xTsJl9Eeemg_CFLz1lXA" kind="SHALLOW_HISTORY">
                <outgoingTransitions xmi:id="_voRXkJl_Eeemg_CFLz1lXA" specification="" target="_WQL_4Jl9Eeemg_CFLz1lXA"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Q5XFIJl9Eeemg_CFLz1lXA">
            <outgoingTransitions xmi:id="_R4xTsJl9Eeemg_CFLz1lXA" specification="" target="_rrc8sJl_Eeemg_CFLz1lXA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_2adgQJmDEeemg_CFLz1lXA">
        <outgoingTransitions xmi:id="_4bwpoJmDEeemg_CFLz1lXA" specification="" target="_GPy64Jl8Eeemg_CFLz1lXA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_gkK2oJgIEeetSZerYCfsvw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_gkJogJgIEeetSZerYCfsvw" measurementUnit="Pixel">
    <children xmi:id="_gkOhAJgIEeetSZerYCfsvw" type="Region" element="_gkLdsJgIEeetSZerYCfsvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gkgN0JgIEeetSZerYCfsvw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gkgN0ZgIEeetSZerYCfsvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gkgN0pgIEeetSZerYCfsvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gkgN05gIEeetSZerYCfsvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_GP0wEJl8Eeemg_CFLz1lXA" type="State" element="_GPy64Jl8Eeemg_CFLz1lXA">
          <children xsi:type="notation:DecorationNode" xmi:id="_GP1XIJl8Eeemg_CFLz1lXA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_GP1XIZl8Eeemg_CFLz1lXA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_GP1XIpl8Eeemg_CFLz1lXA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GP1XI5l8Eeemg_CFLz1lXA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_GP1XJJl8Eeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GP1XJZl8Eeemg_CFLz1lXA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GP1-MJl8Eeemg_CFLz1lXA" type="StateFigureCompartment">
            <children xmi:id="_GP5BgJl8Eeemg_CFLz1lXA" type="Region" element="_GP0JAJl8Eeemg_CFLz1lXA">
              <children xsi:type="notation:DecorationNode" xmi:id="_GP5okJl8Eeemg_CFLz1lXA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_GP5okZl8Eeemg_CFLz1lXA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_GP5okpl8Eeemg_CFLz1lXA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_GP5ok5l8Eeemg_CFLz1lXA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_DApeUZl8Eeemg_CFLz1lXA" type="State" element="_DAoQMJl8Eeemg_CFLz1lXA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_DAqFYJl8Eeemg_CFLz1lXA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_DAqFYZl8Eeemg_CFLz1lXA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_DAqFYpl8Eeemg_CFLz1lXA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DAqFY5l8Eeemg_CFLz1lXA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_DAqscJl8Eeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DAqscZl8Eeemg_CFLz1lXA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_DAqscpl8Eeemg_CFLz1lXA" type="StateFigureCompartment">
                    <children xmi:id="_DAshoJl8Eeemg_CFLz1lXA" type="Region" element="_DApeUJl8Eeemg_CFLz1lXA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_DAsho5l8Eeemg_CFLz1lXA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_DAshpJl8Eeemg_CFLz1lXA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_DAshpZl8Eeemg_CFLz1lXA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_DAshppl8Eeemg_CFLz1lXA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_DCCBkJmAEeemg_CFLz1lXA" type="State" element="_DCAMYJmAEeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_DCCBlJmAEeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_DCCBlZmAEeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_DCCBlpmAEeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_DCCBl5mAEeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_DCCBmJmAEeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DCCBmZmAEeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_DCCBmpmAEeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_DCCBkZmAEeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_DCCBkpmAEeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DCCBm5mAEeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DCCBk5mAEeemg_CFLz1lXA" x="12" y="11"/>
                        </children>
                        <children xmi:id="_EvEyMJmAEeemg_CFLz1lXA" type="State" element="_EvELIJmAEeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_EvEyNJmAEeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_EvEyNZmAEeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_EvEyNpmAEeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EvEyN5mAEeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_EvEyOJmAEeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvEyOZmAEeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_EvEyOpmAEeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_EvEyMZmAEeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_EvEyMpmAEeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EvEyO5mAEeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvEyM5mAEeemg_CFLz1lXA" x="18" y="113"/>
                        </children>
                        <children xmi:id="_JUMjMJmAEeemg_CFLz1lXA" type="State" element="_JUL8IJmAEeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_JUMjNJmAEeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_JUMjNZmAEeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_JUMjNpmAEeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_JUMjN5mAEeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_JUMjOJmAEeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUMjOZmAEeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_JUMjOpmAEeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_JUMjMZmAEeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_JUMjMpmAEeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JUNKQJmAEeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JUMjM5mAEeemg_CFLz1lXA" x="16" y="203"/>
                        </children>
                        <children xmi:id="_2BWkEJmAEeemg_CFLz1lXA" type="State" element="_2BV9AJmAEeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_2BWkFJmAEeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_2BWkFZmAEeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_2BWkFpmAEeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2BWkF5mAEeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_2BWkGJmAEeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2BWkGZmAEeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2BWkGpmAEeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_2BWkEZmAEeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_2BWkEpmAEeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2BWkG5mAEeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2BWkE5mAEeemg_CFLz1lXA" x="30" y="311"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DAshp5l8Eeemg_CFLz1lXA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_DAshoZl8Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DAshopl8Eeemg_CFLz1lXA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_DApeUpl8Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_DApeU5l8Eeemg_CFLz1lXA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DAqsc5l8Eeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DApeVJl8Eeemg_CFLz1lXA" x="3" y="36" width="202" height="463"/>
                </children>
                <children xmi:id="_coT1AJl8Eeemg_CFLz1lXA" type="Entry" element="_coSm4Jl8Eeemg_CFLz1lXA">
                  <children xmi:id="_coUcEJl8Eeemg_CFLz1lXA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_coUcE5l8Eeemg_CFLz1lXA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_coUcFJl8Eeemg_CFLz1lXA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_coUcFZl8Eeemg_CFLz1lXA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_coUcEZl8Eeemg_CFLz1lXA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_coUcEpl8Eeemg_CFLz1lXA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_coT1AZl8Eeemg_CFLz1lXA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_coT1Apl8Eeemg_CFLz1lXA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_coT1A5l8Eeemg_CFLz1lXA" x="39" width="15" height="15"/>
                </children>
                <children xmi:id="_n7VPIJmBEeemg_CFLz1lXA" type="State" element="_n7TZ8JmBEeemg_CFLz1lXA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_n7VPJJmBEeemg_CFLz1lXA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_n7VPJZmBEeemg_CFLz1lXA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_n7VPJpmBEeemg_CFLz1lXA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_n7VPJ5mBEeemg_CFLz1lXA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_n7VPKJmBEeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n7VPKZmBEeemg_CFLz1lXA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_n7VPKpmBEeemg_CFLz1lXA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_n7VPIZmBEeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_n7VPIpmBEeemg_CFLz1lXA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_n7V2MJmBEeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n7VPI5mBEeemg_CFLz1lXA" x="75" y="529" width="40" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GP5olJl8Eeemg_CFLz1lXA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_GP5BgZl8Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GP5Bgpl8Eeemg_CFLz1lXA"/>
            </children>
            <children xmi:id="_JliSMJl9Eeemg_CFLz1lXA" type="Region" element="_GP0JAZl8Eeemg_CFLz1lXA">
              <children xsi:type="notation:DecorationNode" xmi:id="_JliSMZl9Eeemg_CFLz1lXA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSMpl9Eeemg_CFLz1lXA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JliSM5l9Eeemg_CFLz1lXA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JliSNJl9Eeemg_CFLz1lXA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_JliSNZl9Eeemg_CFLz1lXA" type="State" element="_FWkXYJl9Eeemg_CFLz1lXA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JliSNpl9Eeemg_CFLz1lXA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSN5l9Eeemg_CFLz1lXA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JliSOJl9Eeemg_CFLz1lXA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JliSOZl9Eeemg_CFLz1lXA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JliSOpl9Eeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSO5l9Eeemg_CFLz1lXA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JliSPJl9Eeemg_CFLz1lXA" type="StateFigureCompartment">
                    <children xmi:id="_JliSPZl9Eeemg_CFLz1lXA" type="Region" element="_FWkXY5l9Eeemg_CFLz1lXA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_JliSPpl9Eeemg_CFLz1lXA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSP5l9Eeemg_CFLz1lXA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_JliSQJl9Eeemg_CFLz1lXA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_JliSQZl9Eeemg_CFLz1lXA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_WQMm8pl9Eeemg_CFLz1lXA" type="State" element="_WQL_4Jl9Eeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_WQNOAJl9Eeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_WQNOAZl9Eeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_WQNOApl9Eeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_WQNOA5l9Eeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_WQNOBJl9Eeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WQNOBZl9Eeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_WQNOBpl9Eeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_WQMm85l9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_WQMm9Jl9Eeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WQNOB5l9Eeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WQMm9Zl9Eeemg_CFLz1lXA" x="29" y="57" width="66"/>
                        </children>
                        <children xmi:id="_XZ6BAJl9Eeemg_CFLz1lXA" type="State" element="_XZ5Z8Jl9Eeemg_CFLz1lXA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_XZ6BBJl9Eeemg_CFLz1lXA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_XZ6BBZl9Eeemg_CFLz1lXA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_XZ6BBpl9Eeemg_CFLz1lXA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_XZ6BB5l9Eeemg_CFLz1lXA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_XZ6BCJl9Eeemg_CFLz1lXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XZ6BCZl9Eeemg_CFLz1lXA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_XZ6oEJl9Eeemg_CFLz1lXA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_XZ6BAZl9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_XZ6BApl9Eeemg_CFLz1lXA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XZ6oEZl9Eeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XZ6BA5l9Eeemg_CFLz1lXA" x="29" y="159"/>
                        </children>
                        <children xmi:id="_rrdjwJl_Eeemg_CFLz1lXA" type="ShallowHistory" element="_rrc8sJl_Eeemg_CFLz1lXA">
                          <children xmi:id="_rrdjxJl_Eeemg_CFLz1lXA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_rrdjx5l_Eeemg_CFLz1lXA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_rrdjyJl_Eeemg_CFLz1lXA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_rrdjyZl_Eeemg_CFLz1lXA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_rrdjxZl_Eeemg_CFLz1lXA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rrdjxpl_Eeemg_CFLz1lXA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_rrdjwZl_Eeemg_CFLz1lXA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_rrdjwpl_Eeemg_CFLz1lXA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rrdjw5l_Eeemg_CFLz1lXA" x="29" y="4"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSQpl9Eeemg_CFLz1lXA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSQ5l9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSRJl9Eeemg_CFLz1lXA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSRZl9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JliSRpl9Eeemg_CFLz1lXA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JliSR5l9Eeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSSJl9Eeemg_CFLz1lXA" x="2" y="66" width="197" height="321"/>
                </children>
                <children xmi:id="_Q5XFIZl9Eeemg_CFLz1lXA" type="Entry" element="_Q5XFIJl9Eeemg_CFLz1lXA">
                  <children xmi:id="_Q5XsMJl9Eeemg_CFLz1lXA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Q5XsM5l9Eeemg_CFLz1lXA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Q5XsNJl9Eeemg_CFLz1lXA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Q5XsNZl9Eeemg_CFLz1lXA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Q5XsMZl9Eeemg_CFLz1lXA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q5XsMpl9Eeemg_CFLz1lXA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Q5XFIpl9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Q5XFI5l9Eeemg_CFLz1lXA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q5XFJJl9Eeemg_CFLz1lXA" x="46" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSSZl9Eeemg_CFLz1lXA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JliSSpl9Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JliSS5l9Eeemg_CFLz1lXA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_GP0wEZl8Eeemg_CFLz1lXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_GP0wEpl8Eeemg_CFLz1lXA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GP1-MZl8Eeemg_CFLz1lXA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GP0wE5l8Eeemg_CFLz1lXA" x="21" y="64" width="532" height="663"/>
        </children>
        <children xmi:id="_2aeHUJmDEeemg_CFLz1lXA" type="Entry" element="_2adgQJmDEeemg_CFLz1lXA">
          <children xmi:id="_2aeuYJmDEeemg_CFLz1lXA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_2aeuY5mDEeemg_CFLz1lXA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2aeuZJmDEeemg_CFLz1lXA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_2aeuZZmDEeemg_CFLz1lXA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2aeuYZmDEeemg_CFLz1lXA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2aeuYpmDEeemg_CFLz1lXA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2aeHUZmDEeemg_CFLz1lXA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_2aeHUpmDEeemg_CFLz1lXA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2aeHU5mDEeemg_CFLz1lXA" x="147" y="-7"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gkgN1JgIEeetSZerYCfsvw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_gkOhAZgIEeetSZerYCfsvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gkg04JgIEeetSZerYCfsvw" x="220" y="10" width="634" height="777"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_gkltZJgIEeetSZerYCfsvw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_gkmUcJgIEeetSZerYCfsvw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gkmUcZgIEeetSZerYCfsvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gkmUcpgIEeetSZerYCfsvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gkmUc5gIEeetSZerYCfsvw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gkmUdJgIEeetSZerYCfsvw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gkmUdZgIEeetSZerYCfsvw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_gkK2oZgIEeetSZerYCfsvw"/>
    <edges xmi:id="_R4yh0Jl9Eeemg_CFLz1lXA" type="Transition" element="_R4xTsJl9Eeemg_CFLz1lXA" source="_Q5XFIZl9Eeemg_CFLz1lXA" target="_rrdjwJl_Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_R4yh1Jl9Eeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_R4yh1Zl9Eeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_R4yh1pl9Eeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_R4yh0Zl9Eeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_R4yh05l9Eeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_R4yh0pl9Eeemg_CFLz1lXA" points="[-4, 6, 31, -34]$[-30, 16, 5, -24]"/>
    </edges>
    <edges xmi:id="_Fj7zEJl_Eeemg_CFLz1lXA" type="Transition" element="_Fj6k8Jl_Eeemg_CFLz1lXA" source="_WQMm8pl9Eeemg_CFLz1lXA" target="_XZ6BAJl9Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Fj7zFJl_Eeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Fj7zFZl_Eeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Fj7zFpl_Eeemg_CFLz1lXA" x="-7" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Fj7zEZl_Eeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Fj7zE5l_Eeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Fj7zEpl_Eeemg_CFLz1lXA" points="[10, 48, -12, -72]$[27, 99, 5, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Fj8aIJl_Eeemg_CFLz1lXA" id="(0.6666666666666666,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Fj9BMJl_Eeemg_CFLz1lXA" id="(0.896551724137931,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_ONBIwJl_Eeemg_CFLz1lXA" type="Transition" element="_ONAhsJl_Eeemg_CFLz1lXA" source="_XZ6BAJl9Eeemg_CFLz1lXA" target="_WQMm8pl9Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ONBv0Jl_Eeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ONBv0Zl_Eeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ONBv0pl_Eeemg_CFLz1lXA" x="6" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ONBIwZl_Eeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ONBIw5l_Eeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ONBIwpl_Eeemg_CFLz1lXA" points="[16, -32, 26, 63]$[-9, -83, 1, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ONCW4Jl_Eeemg_CFLz1lXA" id="(0.0,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ONCW4Zl_Eeemg_CFLz1lXA" id="(0.09090909090909091,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_RBvTIJl_Eeemg_CFLz1lXA" type="Transition" element="_RBuFAJl_Eeemg_CFLz1lXA" source="_WQMm8pl9Eeemg_CFLz1lXA" target="_WQMm8pl9Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RBvTJJl_Eeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RBvTJZl_Eeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RBvTJpl_Eeemg_CFLz1lXA" x="16" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RBvTIZl_Eeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RBvTI5l_Eeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RBvTIpl_Eeemg_CFLz1lXA" points="[21, 27, 1, 2]$[41, 27, 21, 2]$[41, -21, 21, -46]$[2, -21, -18, -46]$[2, 0, -18, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RBwhQJl_Eeemg_CFLz1lXA" id="(0.6666666666666666,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RBwhQZl_Eeemg_CFLz1lXA" id="(0.9848484848484849,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_voR-oJl_Eeemg_CFLz1lXA" type="Transition" element="_voRXkJl_Eeemg_CFLz1lXA" source="_rrdjwJl_Eeemg_CFLz1lXA" target="_WQMm8pl9Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_voSlsZl_Eeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_voSlspl_Eeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_voSls5l_Eeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_voR-oZl_Eeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_voSlsJl_Eeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_voR-opl_Eeemg_CFLz1lXA" points="[2, 7, -18, -76]$[23, 74, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_voTMwJl_Eeemg_CFLz1lXA" id="(0.45454545454545453,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_r3618JmAEeemg_CFLz1lXA" type="Transition" element="_r36O4JmAEeemg_CFLz1lXA" source="_coT1AJl8Eeemg_CFLz1lXA" target="_DCCBkJmAEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_r37dAJmAEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r37dAZmAEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r37dApmAEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r3618ZmAEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r36185mAEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r3618pmAEeemg_CFLz1lXA" points="[0, 7, -4, -197]$[6, 180, 2, -24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r38EEJmAEeemg_CFLz1lXA" id="(0.23300970873786409,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_x6FzwJmAEeemg_CFLz1lXA" type="Transition" element="_x6FMsJmAEeemg_CFLz1lXA" source="_DCCBkJmAEeemg_CFLz1lXA" target="_EvEyMJmAEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_x6FzxJmAEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x6FzxZmAEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x6Ga0JmAEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x6FzwZmAEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x6Fzw5mAEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x6FzwpmAEeemg_CFLz1lXA" points="[0, 0, -24, -46]$[25, 31, 1, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x6HB4JmAEeemg_CFLz1lXA" id="(0.4077669902912621,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x6HB4ZmAEeemg_CFLz1lXA" id="(0.1978021978021978,0.32075471698113206)"/>
    </edges>
    <edges xmi:id="_zfY9oJmAEeemg_CFLz1lXA" type="Transition" element="_zfXvgJmAEeemg_CFLz1lXA" source="_EvEyMJmAEeemg_CFLz1lXA" target="_JUMjMJmAEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zfY9pJmAEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zfY9pZmAEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zfY9ppmAEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zfY9oZmAEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zfY9o5mAEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zfY9opmAEeemg_CFLz1lXA" points="[13, 20, -45, -51]$[14, 68, -44, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zfaLwJmAEeemg_CFLz1lXA" id="(0.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_3UoJ0JmAEeemg_CFLz1lXA" type="Transition" element="_3UniwJmAEeemg_CFLz1lXA" source="_JUMjMJmAEeemg_CFLz1lXA" target="_2BWkEJmAEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3UoJ1JmAEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3UoJ1ZmAEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3UoJ1pmAEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3UoJ0ZmAEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3UoJ05mAEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3UoJ0pmAEeemg_CFLz1lXA" points="[8, 21, -21, -56]$[33, 101, 4, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3Uow4JmAEeemg_CFLz1lXA" id="(0.0,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_4L-BgJmAEeemg_CFLz1lXA" type="Transition" element="_4L8zYJmAEeemg_CFLz1lXA" source="_2BWkEJmAEeemg_CFLz1lXA" target="_DCCBkJmAEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_4L-BhJmAEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4L-BhZmAEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4L-BhpmAEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4L-BgZmAEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4L-Bg5mAEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4L-BgpmAEeemg_CFLz1lXA" points="[35, -1, -37, 247]$[126, -1, 54, 247]$[126, -248, 54, 0]$[80, -248, 8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4L-okJmAEeemg_CFLz1lXA" id="(0.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4L-okZmAEeemg_CFLz1lXA" id="(0.9223300970873787,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_3CHoEJmBEeemg_CFLz1lXA" type="Transition" element="_3CHBAJmBEeemg_CFLz1lXA" source="_DApeUZl8Eeemg_CFLz1lXA" target="_n7VPIJmBEeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3CHoFJmBEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3CHoFZmBEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3CHoFpmBEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3CHoEZmBEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3CHoE5mBEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3CHoEpmBEeemg_CFLz1lXA" points="[0, 0, 34, -82]$[-38, 58, -4, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3CI2MJmBEeemg_CFLz1lXA" id="(0.4603960396039604,1.0)"/>
    </edges>
    <edges xmi:id="_4bxQsJmDEeemg_CFLz1lXA" type="Transition" element="_4bwpoJmDEeemg_CFLz1lXA" source="_2aeHUJmDEeemg_CFLz1lXA" target="_GP0wEJl8Eeemg_CFLz1lXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_4bx3wZmDEeemg_CFLz1lXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4bx3wpmDEeemg_CFLz1lXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4bx3w5mDEeemg_CFLz1lXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4bxQsZmDEeemg_CFLz1lXA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4bx3wJmDEeemg_CFLz1lXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4bxQspmDEeemg_CFLz1lXA" points="[1, 7, -12, -60]$[15, 65, 2, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4bye0JmDEeemg_CFLz1lXA" id="(0.24436090225563908,0.004524886877828055)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
